:root{
    --primary-color: #003366;
    --secondary-color: #006699;
    --secondary-color-light: #0099cc;
    --secondary-color-lighter: #00bbee;
    --light-color: #d3e1ea;
    --dark-color: #1e2120;
}

html{
    font-family: sans-serif;
    font-size: 62.5%;
}

/* Font Size */

h1{
    font-size: 4em;
    margin: 0;

    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

h2{
    font-size: 3em;
    margin: 0;

    font-family:'Times New Roman', Times, serif;
}

h3{
    font-size: 2.4em;
    margin: 0;
}

p{
    font-size: 1.2em;
    margin: 0;
}

.header_flex{
    display: flex;
}

.flex{
    display: flex;
}

.fullHeight{
    height: 100%;
}

/**/

.header{
    background-color: var(--primary-color);
    color: var(--light-color);
    height: 15vh;
    border-bottom: 3px solid var(--dark-color);
    display: flex;
    
    margin: auto;
    justify-content: space-between;
    position: static;
}

.header_logo_div{
    align-content: center;
    margin: 0 3em 0 2em;
}

.header_logo{
    width: 10vh;
    text-align: center;
}

.header_title_div{
    align-content: center;
    justify-content: space-evenly;
}

.header_title_div a{
    text-decoration: none;
}

.header_title{
    font-size: 8vh;
    color: var(--light-color);
    text-shadow: 2px 2px var(--dark-color);
}

.header_nav{
    display: flex;
    align-items: center;
}

.header_nav li{
    list-style: none;
    padding: 2em;
}

.header_nav a{
    font-size: 2em;
    color: var(--light-color);
    text-decoration: none;
    padding: .3em;
}

.header_nav li{
    margin: 0 .5em;
}

.header_nav a:hover{
    text-decoration: underline;
}

.header_dropdown:hover .header_menu{
    display: block;  
}

.header_menu{
    position: absolute;
    display: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 2px solid var(--dark-color);
}

.header_menu a{
    display: block;
    font-size: 1.5em;
    border: 1px solid var(--dark-color);
    padding: .5em;
}

.header_menu a:hover{
    background-color: var(--secondary-color);
    transition: .2s;
    text-decoration: underline;
}



.main{
    background-color: var(--light-color);
    color: var(--dark-color);
    height: 80vh;
}

.main_bi{
    background-image: url(../images/heroimage.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main_hero_div{
    width: 60%;
}

.main_text_div{
    height: 50vh;
}

.main_text_div h2{
    margin: .3em 0 0em .5em;
    font-size: 10vh;
    font-weight: bold;
}

.main_text_div h3{
    margin-left: 1em;
}

.main_text_div ul{
    margin: 1em 0 0 2em;
}

.main_text_div li{
    list-style: none;
}

.main_text_div a{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-color);
}

.main_text_div a:hover{
    text-decoration: underline;
}

.main_btn_div{
    height: 30vh;
}

.main_btn{
    padding: 0.5em 1em;
    margin-left: 2em;

    display: inline-block;
    color: var(--light-color);
    background-color: var(--dark-color);
    font-size: 5em;
    text-decoration: none;

    transition: all 0.5s;
}

.main_btn:hover{
    transform: scale(1.1);
    text-decoration: underline;
    background-color: var(--primary-color);
}

.main_btn_small{
    padding: .5em;
    cursor: pointer;

    color: var(--light-color);
    background-color: var(--dark-color);
    font-size: 2em;
    text-decoration: none;

    transition: all 0.5s;
}

.main_btn_small:hover{
    transform: scale(1.1);
    text-decoration: underline;
    background-color: var(--primary-color);
}

.main_form_div{
    width: 40%;
    align-content: center;
}

.main_form{
    display: block;
}

.main_form{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 3em;
    height: 90%;
    width: 90%;
    margin: auto;
}

.main_form_input_div{
    margin: .5em;
    padding: 1em;
}

.main_form_label{
    font-size: 2em;
}

.main_form_input{
    font-size: 1.5em;
    width: 60%;
    margin: 1em 0;
}

.main_form_textarea{
    font-size: 1.5em;
    margin: auto;
    width: 90%;
    height: 20vh;
}



.footer{
    background-color: var(--primary-color);
    color: var(--light-color);
    height: 5vh;

    border-top: 3px solid var(--dark-color);
    justify-content: center;
    align-content: center;
}

.footer p{
    text-align: center;
    font-size: 1.2em;
}

.footer a{
    color: var(--light-color);
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}



/* Calculadoras.html */

.card_main{
    height: 80vh;
}

.card_section{
    background-color: var(--light-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card_article{
    width: 40vh;
    height: 30vh;
    color: var(--light-color);
    background-color: var(--primary-color);
    border: 2px solid var(--dark-color);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    align-content: center;
    text-align: center;
    margin: 10px; 
    cursor: pointer;

    display: flex;
    transition: all .5s;
}

.card_article a{
    height: 100%;
    width: 100%;
    padding: 2em;
    text-decoration: none;
    align-content: center;
}

.card_title, .card_text{
    color: var(--light-color);
    margin: 0;
}

.card_title{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px var(--dark-color);
}

.card_text{
    font-size: 2em;
}

.card_article:hover{
    background-image: none;
    text-decoration: underline;
    transform: scale(1.1);
}

/*Card Background Images*/

.card_imi{background-image: url(../images/img_imi.png);}
.card_imt{background-image: url(../images/img_imt.png);}
.card_euribor{background-image: url(../images/img_euribor.png);}
.card_pensao{background-image: url(../images/img_pensao.png);}
.card_salario{background-image: url(../images/img_salario.png);}
.card_esforco{background-image: url(../images/img_esforco.png);}
.card_juros{background-image: url(../images/img_compostos.png);}
.card_valias{background-image: url(../images/img_valias.png);}


/* Calculadoras especificas */

.calc_hero{
    background-color: var(--light-color);
    color: var(--dark-color);
    height: 80vh;
}

.calc_cont{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.calc_main{
    width: 75%;
    margin: 0 auto;
    align-content: space-between;
}

.calc_text{
    width: 100%;
    border-bottom: 2px solid var(--dark-color);
}

.calc_text a{
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}

.calc_text a:hover{
    text-decoration: underline;
}

.calc_text h2{
    font-size: 5em;
    padding: .3em;
}

.calc_text p{
    font-size: 1.5em;
}

.calc_nav{
    height: 100%;
    width: 20%;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.calc_nav h3{
    font-size: 2.5em;
    padding: .5em 1em;
}

.calc_ul{
    width: 90%;
    margin: auto;
}

.calc_li{
    display: flex;
    list-style-type: none;
    padding: 1em .5em;
    cursor: pointer;
}

.calc_li a{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    color: var(--light-color);
    text-decoration: none;
}

.calc_li:hover{
    transition: .5s;
    background-color: var(--primary-color);
    text-decoration: underline;
}

.calc_contact{
    display: flex;
    color: var(--light-color);
    text-decoration: none;
    padding: .5em;
}

.calc_contact:hover{
    text-decoration: underline;
    transition: .5s;
    background-color: var(--primary-color);
}

/* Calc Forms */

.form{
    width: 90%;
    height: 40vh;

    display: flex;
    padding: 1em;
    margin: 3em auto 0 auto;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    color: var(--light-color);
}

.form_input_div{
    width: 60%;
    align-content: center;

    border-right: 2px solid var(--primary-color);
}

.form_input_label{
    display: block;
    margin: 1em 0 2em 1em;
}

.form_label{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 .5em 1em;
}

.form_text_input{
    font-size: 1.5em;
    margin-left: .5em;
    text-align: right;
    padding: .2em;

    background-color: var(--light-color);
    color: var(--dark-color);
    border: 2px solid var(--primary-color);
}

.form_text_input:focus{
    outline: 0;
    border: 2px solid var(--secondary-color-light);
}

.form_output_div{
    width: 40%;
    align-content: center;
}

.output{
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color);
    margin-left: 1em;
    font-size: 3em;
}

.form_validation{
    width: 90%;
    height: 8vh;

    display: flex;
    padding: 1em;
    margin: 0 auto 3em auto;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-top: 0;
    color: var(--light-color);
}

#error{
    color: var(--light-color);
    align-self: center;
    margin-left: 2em;
    font-size: 1.3em;
}

/* Responsividade*/

/* Home page */
/* Responsividade até 500px, abaixo de 500px varios elementos da pagina quebram */

@media screen and (max-width: 1200px){
    .main_text_div a{
        font-size: 1.6em;
    }
}

@media screen and (max-width: 910px){    
    .header_flex{
        padding: .3em;
    }
    
    .header{
        height: 17vh;
        padding: .5em;
        display: block;
        border: 0;
    }

    .header_title{
        font-size: 6vh;
    }

    .header_nav a, .header_nav li{
        padding: 0;
    }

    .header_nav{
        border-top: 2px solid var(--dark-color);
        border-bottom: 2px solid var(--dark-color);
        align-content: center;
        justify-content: space-evenly;
        margin: 0;
    }

    .header_menu a{
        padding: .5em;
    }

    .main{
        height: 120vh;
    }

    .main_hero_div{
        width: 100%;
    }

    .main_text_div{
        width: 100%;
    }

    .main_text_div h2{
        margin: 0 0 0 .5em;
        font-size: 10vh;
    }

    .main_text_div ul{
        text-align: center;
        font-size: 1.3em;
    }

    .main_btn_div{
        margin-top: 8em;
        display: flex;
        height: 20vh;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .main_btn{
        margin: 0;
    }

    .main_form_div{
        width: 90%;
        margin: 4em auto;
    }

    .footer p{
        font-size: 1em;
    }
}

/* Hero div e Form em cima do outro */
@media screen and (max-width: 700px){
    .fullHeight{
        display: block;
    }
}

